@font-face {
  font-family: "FuturaItalicBold";
  src: url("fonts/FuturaBoldItalic.ttf");
}

.AppTabs {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
  }

/* .HomeTab {
  display: flex;
  flex-direction: column;
  justify-content: left;
} */

.AllTabs {
    text-align: right;
    text-decoration: none;

  /* height: 100%; /* 100% Full-height */
  /* width: 10; 0 width - change this with JavaScript */
  /* position: fixed; Stay in place */
  /* z-index: 1; Stay on top */
  /* top: 0; Stay at the top */
  /* left: 0; */
  /* background-color: #111; Black */
  /* overflow-x: hidden; Disable horizontal scroll */
  /* padding-top: 60px; Place content 60px from the top */
  /* transition: 0.5s; 0.5 second transition effect to slide in the sidenav */ */
}

#HomeTab {
    text-decoration: none;
    color: black;
}

#AboutUsTab {
  text-decoration: none;
  color: black;
}

/* nav {
    flex-direction: column;
} */

/* .CampaignText {
  text-decoration: none;
  color: red;
  font-family: "FuturaItalicBold";
} */
