@font-face {
  font-family: "FuturaItalicBold";
  src: url("fonts/futura/FuturaBoldItalic.ttf");
}

.App {
  background-color: #e8f6fa;
}

.Header {
  color: #ffffff;
  text-shadow: 5px 3px #f79051;
  font-size: 50px;
}

.testing {
  display: flex;
  flex-direction: column;
}
