@font-face {
  font-family: "FuturaItalicBold";
  src: url("fonts/futura/FuturaBoldItalic.ttf");
}

.App {
  background-color: #e8f6fa;
}

.Header {
  color: #ffffff;
  text-shadow: 5px 3px #f79051;
  font-size: 50px;
}

.testing {
  display: flex;
  flex-direction: column;
}

.AnyaHeadshot {
  float: left;
  clear: left;
  padding-left: 15px;
  border: 10px solid #f79051;
  border-radius: 4px;
  padding: 0px;
}

.AnyaTaylorHeadshot {
  float: right;
  clear: right;
  padding-top: 30%;
  border: 10px solid #f79051;
  border-radius: 4px;
  padding: 0px;
}

.AboutAnyaSection {
  clear: right;
  padding-left: 330px;
}

.AboutTaylorSection {
  clear: left;
  padding-left: 15px;
}

.AboutAnyaTitle {
  font-family: "FuturaItalicBold";
  color: #f79051;
}

.AboutTaylorTitle {
  font-family: "FuturaItalicBold";
  color: #f79051;
  padding-top: 15px;
}

.InvolvementsTitle {
  font-family: "FuturaItalicBold";
  color: #f79051;
  padding-left: 15px;
  text-align: center;
}

.AnyaSectionText {
  padding-right: 10%;
}

.TaylorSectionText {
  padding-right: 60%;
}
