@font-face {
  font-family: "FuturaItalicBold";
  src: url("fonts/futura/FuturaBoldItalic.ttf");
}

.App {
  background-color: #e8f6fa;
  width: 100vw;
  height: fit-content;
}

.Header {
  color: #ffffff;
  text-shadow: 5px 3px #f79051;
  font-size: 50px;
}

.testing {
  display: flex;
  flex-direction: column;
}
/* 
html {
  padding: 0;
  margin: 0;
  width: 100%; /* 100% of window with, so the body width of 60% will work as expected */
/* } */
