@font-face {
  font-family: "PlaylistScript";
  src: url("fonts/PlaylistFF/Playlist\ Script.otf");
}

@font-face {
  font-family: "LatoRegular";
  src: url("fonts/Lato/Lato-Regular.ttf");
}

.PlatformTitle {
  text-align: center;
  color: #f79051;
  font-family: "FuturaItalicBold";
  font-size: calc(40px + (80 - 40) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  border-bottom: solid 4px #f79051;
  background-image: url("./images/Loyola-Marymount-University_Chapel.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  margin-top: 0;
  margin-bottom: 2vh;
}
.MissionSection {
  text-align: left;
  margin-left: 2%;
  margin-right: 40%;
  font-family: "LatoRegular";
}

.HealingSection {
  text-align: right;
  margin-right: 2%;
  margin-left: 40%;
  font-family: "LatoRegular";
}

.CommunitySection {
  text-align: left;
  margin-left: 2%;
  margin-right: 40%;
  font-family: "LatoRegular";
}

.SloganText {
  text-align: center;
  color: #ffffff;
  font-family: "FuturaItalicBold";
  font-size: calc(25px + (70 - 25) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  font-family: "PlaylistScript";
}

.MissionTitle {
  color: #f79051;
  font-family: "FuturaItalicBold";
  font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

.HealingTitle {
  color: #f79051;
  font-family: "FuturaItalicBold";
  font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

.CommunityTitle {
  color: #f79051;
  font-family: "FuturaItalicBold";
  font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

.SectionText {
  font-size: calc(10px + (25 - 10) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

.InitiativeBlurb {
  /* background-image: url("./images/LMU_BirdsEye.jpg");
  background-repeat: no-repeat;
  background-size: 100vw; */
  clear: left;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

a {
  text-decoration: none;
  /* color: #f79051; */
}

a:visited {
  color: #f79051;
}

a:link {
  color: #f79051;
}

a:hover {
  text-decoration: none;
  /* border-top: solid 2px #f79051;
  border-bottom: solid 2px #f79051; */
  /* color: blue; */
  /* padding: 1%; */
}

.Intiative:hover {
  border: solid 3px #f79051;
}

.Intiative {
  color: #f79051;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(232, 246, 250, 0.7),
    rgba(255, 0, 0, 0)
  );
  /* background-color: rgba(232, 246, 250, 0.5); */
  font-family: "FuturaItalicBold";
  margin-left: 1vw;
  margin-right: 1vw;

  font-size: calc(10px + (30 - 10) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

.InitiativeText {
  color: black;
  font-family: "LatoRegular";
  margin-right: 10vw;
  margin-left: 10vw;
  font-size: calc(10px + (25 - 10) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

.InitiativeTitle {
  color: #f79051;
  font-family: "FuturaItalicBold";
  font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

.COVIDResponse {
  grid-row: 1;
  grid-column: 1;
}

.Principles {
  grid-row: 1;
  grid-column: 2;
}

.WorkWithRSO {
  grid-row: 1;
  grid-column: 3;
}
.QTPOC {
  grid-row: 2;
  grid-column: 1;
}
.MentalHealth {
  grid-row: 2;
  grid-column: 2;
}
.StudentAthlete {
  grid-row: 2;
  grid-column: 3;
}
.AcademicCompassion {
  grid-row: 3;
  grid-column: 1;
}
.Divestment {
  grid-row: 3;
  grid-column: 2;
}
.MenstrualProducts {
  grid-row: 3;
  grid-column: 3;
}
.SchoolSpirit {
  grid-row: 4;
  grid-column: 1;
}
.OffCampusSupport {
  grid-row: 4;
  grid-column: 2;
}
.GSLMUFacultySenate {
  grid-row: 4;
  grid-column: 3;
}
