.PlatformTitle {
  text-align: center;
  color: #f79051;
  font-family: "FuturaItalicBold";
}
.MissionText {
  text-align: left;
  margin-left: 2%;
  margin-right: 40%;
}

.HealingText {
  text-align: right;
  margin-right: 2%;
  margin-left: 40%;
}

.CommunityText {
  text-align: left;
  margin-left: 2%;
  margin-right: 40%;
}

.SloganText {
  text-align: center;
  color: #f79051;
  font-family: "FuturaItalicBold";
}

.MissionTitle {
  color: #f79051;
  font-family: "FuturaItalicBold";
}

.HealingTitle {
  color: #f79051;
  font-family: "FuturaItalicBold";
}

.CommunityTitle {
  color: #f79051;
  font-family: "FuturaItalicBold";
}
.CampaignLogoImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: -18%;
}
