@font-face {
  font-family: "PlaylistScript";
  src: url("fonts/PlaylistFF/Playlist\ Script.otf");
}

@font-face {
  font-family: "LatoRegular";
  src: url("fonts/Lato/Lato-Regular.ttf");
}

.PlatformTitle {
  text-align: center;
  color: #f79051;
  font-family: "FuturaItalicBold";
  font-size: 60px;
  border-bottom: solid 4px #f79051;
  border-top: solid 4px #f79051;
}
.MissionText {
  text-align: left;
  margin-left: 2%;
  margin-right: 40%;
  font-family: "LatoRegular";
}

.HealingText {
  text-align: right;
  margin-right: 2%;
  margin-left: 40%;
  font-family: "LatoRegular";
}

.CommunityText {
  text-align: left;
  margin-left: 2%;
  margin-right: 40%;
  font-family: "LatoRegular";
}

.SloganText {
  text-align: center;
  color: #ffffff;
  font-family: "FuturaItalicBold";
  font-size: 50px;
  font-family: "PlaylistScript";
}

.MissionTitle {
  color: #f79051;
  font-family: "FuturaItalicBold";
}

.HealingTitle {
  color: #f79051;
  font-family: "FuturaItalicBold";
}

.CommunityTitle {
  color: #f79051;
  font-family: "FuturaItalicBold";
}
.CampaignLogoImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: -18%;
}
