@font-face {
  font-family: "FuturaItalicBold";
  src: url("fonts/futura/FuturaBoldItalic.ttf");
}

@font-face {
  font-family: "LatoRegular";
  src: url("fonts/Lato/Lato-Regular.ttf");
}

.ContactUsTitle {
  font-family: "FuturaItalicBold";
  color: #f79051;
  float: right;
  margin-right: 15%;
  font-size: calc(40px + (80 - 40) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  border-bottom: solid 4px #f79051;
}

.ContactUsTextSection {
  clear: right;
  font-family: "LatoRegular";
  margin-right: 10%;
  margin-left: 50%;
}

.GoogleForm {
  width: 40vw;
  display: block;
  height: 60vw;
  background-color: transparent;
  float: left;
  margin-left: 5vw;
  margin-top: 5vw;
}
