@font-face {
  font-family: "FuturaItalicBold";
  src: url("fonts/futura/FuturaBoldItalic.ttf");
}
@font-face {
  font-family: "LatoRegular";
  src: url("fonts/Lato/Lato-Regular.ttf");
}

.CovidTitle {
  font-family: "FuturaItalicBold";
  color: #f79051;
  text-align: center;
  font-size: calc(40px + (80 - 40) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  border-bottom: solid 4px #f79051;
  background-image: url("./images/Loyola-Marymount-University_Chapel.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  margin-top: 0;
}

.TaylorLetter {
  font-family: "LatoRegular";
  margin-left: 15vw;
  margin-right: 15vw;
  font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

.SectionTitle {
  font-family: "FuturaItalicBold";
  font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
  margin-top: 5vh;
  padding-bottom: 5vh;
}
ol {
  margin-left: 3%;
}

.FirstParagraph {
  margin-bottom: 2%;
}
