@font-face {
  font-family: "FuturaItalicBold";
  src: url("fonts/futura/FuturaBoldItalic.ttf");
}

@font-face {
  font-family: "LatoRegular";
  src: url("fonts/Lato/Lato-Regular.ttf");
}

.EndorsementTitle {
  font-family: "FuturaItalicBold";
  color: #f79051;
  text-align: center;
  background-image: url("./images/Loyola-Marymount-University_Chapel.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  font-size: calc(30px + (80 - 30) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  max-width: 100vw;
  border-bottom: solid 4px #f79051;
  margin-top: 0;
}

.LilaEndorsement {
  max-width: 100%;
  height: auto;
  grid-row: 3;
  grid-column: 1;
}

.LilaQuote {
  grid-row: 3;
  grid-column: 1;
  width: 100%;
  text-align: center;
  font-family: "LatoRegular";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.RaymondQuote {
  grid-row: 2;
  grid-column: 1;
  width: 100%;
  text-align: center;
  font-family: "LatoRegular";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.RaymondEndorsement {
  max-width: 100%;
  height: auto;
  grid-row: 2;
  grid-column: 1;
}

.AlexisQuote {
  grid-row: 1;
  grid-column: 3;
  width: 100%;
  text-align: center;
  font-family: "LatoRegular";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.AlexisEndorsement {
  max-width: 100%;
  height: auto;
  grid-row: 1;
  grid-column: 3;
}

.HavanaQuote {
  grid-row: 1;
  grid-column: 2;
  width: 100%;
  text-align: center;
  font-family: "LatoRegular";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.HavanaEndorsement {
  max-width: 100%;
  height: auto;
  grid-row: 1;
  grid-column: 2;
}

.IsaQuote {
  grid-row: 2;
  grid-column: 2;
  width: 100%;
  text-align: center;
  font-family: "LatoRegular";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.IsaEndorsement {
  max-width: 100%;
  height: auto;
  grid-row: 2;
  grid-column: 2;
}

.JonahQuote {
  grid-row: 2;
  grid-column: 3;
  width: 100%;
  text-align: center;
  font-family: "LatoRegular";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.JonahEndorsement {
  max-width: 100%;
  height: auto;
  grid-row: 2;
  grid-column: 3;
}

.JoshQuote {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  text-align: center;
  font-family: "LatoRegular";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.JoshEndorsement {
  max-width: 100%;
  height: auto;
  grid-row: 1;
  grid-column: 1;
}

.RosieQuote {
  grid-row: 3;
  grid-column: 2;
  width: 100%;
  text-align: center;
  font-family: "LatoRegular";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.RosieEndorsement {
  max-width: 100%;
  height: auto;
  grid-row: 3;
  grid-column: 2;
}

.TaylorQuote {
  grid-row: 3;
  grid-column: 3;
  width: 100%;
  text-align: center;
  font-family: "LatoRegular";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.TaylorEndorsement {
  max-width: 100%;
  height: auto;
  grid-row: 3;
  grid-column: 3;
}

.QuoteTitle {
  font-family: "FuturaItalicBold";
  color: #f79051;
  text-align: center;
  font-size: calc(25px + (80 - 25) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  padding-top: 3%;
}
.Endorsement {
  display: grid;
  grid-template-rows: 1f 1f 1f;
  grid-template-columns: 1f 1f 1f;
  margin-right: 5%;
  margin-left: 5%;
  grid-gap: 1%;
}

@media screen and (min-width: 420px) {
  .EndorsementQuotes {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 5%;
    margin-left: 5%;
    grid-gap: 1%;
  }
}
/* } */

@media screen and (max-width: 420px) {
  .EndorsementQuotes {
    /* display: grid; */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin-right: 5%;
    margin-left: 5%;
    grid-gap: 1%;
    /* border-bottom: solid 3px #f79051; */
  }

  .Author {
    padding-bottom: 3vh;
    border-bottom: solid 3px #f79051;
  }
}
/* 
@media only screen and (max-width: 900px) {
  .EndorsementQuotes {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 100px;
  }
} */

.Quote {
  font-size: calc(13px + (25 - 13) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

.Author {
  font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}
/* 
.grid-container--fill {
  grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
} */
