@font-face {
  font-family: "FuturaItalicBold";
  src: url("fonts/futura/FuturaBoldItalic.ttf");
}

@font-face {
  font-family: "LatoRegular";
  src: url("fonts/Lato/Lato-Regular.ttf");
}

.EndorsementTitle {
  font-family: "FuturaItalicBold";
  color: #f79051;
  text-align: center;
  font-size: 60px;
  border-bottom: solid 4px #f79051;
  border-top: solid 4px #f79051;
}

.LilaEndorsement {
  max-width: 40%;
  height: auto;
  padding-right: 3%;
  grid-row: 1;
  grid-column: 1;
}

.LilaQuote {
  grid-row: 2;
  grid-column: 1;
  width: 40%;
  text-align: center;
  font-family: "LatoRegular";
}

.RaymondQuote {
  grid-row: 2;
  grid-column: 2;
  width: 40%;
  text-align: center;
  font-family: "LatoRegular";
}
.RaymondEndorsement {
  max-width: 40%;
  height: auto;
  padding-right: 3%;
  grid-row: 1;
  grid-column: 2;
}

.Endorsement {
  display: grid;
  grid-template-rows: 1f 1f;
  grid-template-columns: 1f 1f;

  margin-left: 20%;
}
