@font-face {
  font-family: "Baron";
  src: url("fonts/BaronNeue/Baron\ Neue.otf");
}

.CampaignPoster {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* float: right; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  z-index: -1;
  position: absolute;
}

.VoteTitle {
  text-align: center;
  font-family: "Baron";
  font-size: 60px;
  margin-left: 15%;
  margin-right: 15%;
  z-index: 1;
  position: absolute;
}
